<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.xuepeng.dao.impl.ProjectDaoImpl">
    <!-- 表名 -->
    <sql id="table_name"> project </sql>
    <!-- 列名 -->
    <sql id="column_list">
            id, 
            user_id, 
            name, 
            address, 
            status, 
            is_delete, 
            remark, 
            create_user, 
            modify_user, 
            create_time, 
            modify_time
    </sql>
    <!-- 查询语句 -->
    <sql id="condition_sql">
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="address != null and address != ''">
            and address = #{address}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
        <if test="remark != null and remark != ''">
            and remark = #{remark}
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user = #{createUser}
        </if>
        <if test="modifyUser != null and modifyUser != ''">
            and modify_user = #{modifyUser}
        </if>
        <if test="startCreateTime != null">
            and create_time <![CDATA[ >]]>= #{createTimeStart}
        </if>
        <if test="endCreateTime != null">
            and create_time <![CDATA[ <]]>= #{createTimeEnd}
        </if>
        <if test="startModifyTime != null">
            and modify_time <![CDATA[ >]]>= #{modifyTimeStart}
        </if>
        <if test="endModifyTime != null">
            and modify_time <![CDATA[ <]]>= #{modifyTimeEnd}
        </if>
    </sql>
    <!-- EntityCondition查询语句 -->
    <sql id="select_condition_sql">
        <foreach collection="criterias" item="criteria" separator="or">
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <foreach collection="criteria.criteria" item="criterion">
                    <choose>
                        <when test="criterion.noValue">
                            and ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                            and ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                            and ${criterion.condition}
                            <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                     separator=",">
                            #{listItem}
                            </foreach>
                        </when>
                    </choose>
                </foreach>
            </trim>
        </foreach>
    </sql>
    <!-- UpdateCondition查询语句 -->
    <sql id="update_condition_sql">
        <foreach collection="condition.criterias" item="criteria" separator="or">
            <trim prefix="(" suffix=")" prefixOverrides="and">
                <foreach collection="criteria.criteria" item="criterion">
                    <choose>
                        <when test="criterion.noValue">
                            and ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                            and ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                            and ${criterion.condition}
                            <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                     separator=",">
                            #{listItem}
                            </foreach>
                        </when>
                    </choose>
                </foreach>
            </trim>
        </foreach>
    </sql>

    <!-- ORM映射关系 -->
    <resultMap id="resultMap" type="cc.xuepeng.entity.Project">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="status" property="status"/>
        <result column="is_delete" property="isDelete"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 全字段新增 -->
    <insert id="insert" parameterType="cc.xuepeng.entity.Project">
        insert into
        <include refid="table_name"/>
        (
        <include refid="column_list"/>
        )
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            #{userId},
            #{name},
            #{address},
            #{status},
            #{isDelete},
            #{remark},
            #{createUser},
            #{modifyUser},
            #{createTime},
            #{modifyTime},
        </trim>
    </insert>

    <!-- 非空字段新增 -->
    <insert id="insertSelective" parameterType="cc.xuepeng.entity.Project">
        insert into
        <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="userId != null and userId != ''">
                user_id,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="createUser != null and createUser != ''">
                create_user,
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="isDelete != null">
                #{isDelete},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            <if test="createUser != null and createUser != ''">
                #{createUser},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                #{modifyUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
        </trim>
    </insert>

    <!-- 全字段批量新增 -->
    <insert id="insertBatch" parameterType="cc.xuepeng.entity.Project">
        insert into
        <include refid="table_name"/>
        (
        <include refid="column_list"/>
        )
        values
        <foreach collection="list" item="item" open=" " close=""
                 separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.userId},
                #{item.name},
                #{item.address},
                #{item.status},
                #{item.isDelete},
                #{item.remark},
                #{item.createUser},
                #{item.modifyUser},
                #{item.createTime},
                #{item.modifyTime},
            </trim>
        </foreach>
    </insert>

    <!-- 非空字段批量新增 -->
    <insert id="insertBatchSelective" parameterType="cc.xuepeng.entity.Project">
        insert into
        <include refid="table_name"/>
        <foreach collection="list" item="item" open=" " close="" separator="," index="index">
            <if test="index == 0">
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="item.id != null and item.id != ''">
                        id,
                    </if>
                    <if test="item.userId != null and item.userId != ''">
                        user_id,
                    </if>
                    <if test="item.name != null and item.name != ''">
                        name,
                    </if>
                    <if test="item.address != null and item.address != ''">
                        address,
                    </if>
                    <if test="item.status != null">
                        status,
                    </if>
                    <if test="item.isDelete != null">
                        is_delete,
                    </if>
                    <if test="item.remark != null and item.remark != ''">
                        remark,
                    </if>
                    <if test="item.createUser != null and item.createUser != ''">
                        create_user,
                    </if>
                    <if test="item.modifyUser != null and item.modifyUser != ''">
                        modify_user,
                    </if>
                    <if test="item.createTime != null">
                        create_time,
                    </if>
                    <if test="item.modifyTime != null">
                        modify_time,
                    </if>
                </trim>
            </if>
        </foreach>
        values
        <foreach collection="list" item="item" open=" " close=""
                 separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.id != null and item.id != ''">
                #{item.id},
            </if>
            <if test="item.userId != null and item.userId != ''">
                #{item.userId},
            </if>
            <if test="item.name != null and item.name != ''">
                #{item.name},
            </if>
            <if test="item.address != null and item.address != ''">
                #{item.address},
            </if>
            <if test="item.status != null">
                #{item.status},
            </if>
            <if test="item.isDelete != null">
                #{item.isDelete},
            </if>
            <if test="item.remark != null and item.remark != ''">
                #{item.remark},
            </if>
            <if test="item.createUser != null and item.createUser != ''">
                #{item.createUser},
            </if>
            <if test="item.modifyUser != null and item.modifyUser != ''">
                #{item.modifyUser},
            </if>
            <if test="item.createTime != null">
                #{item.createTime},
            </if>
            <if test="item.modifyTime != null">
                #{item.modifyTime},
            </if>
            </trim>
        </foreach>
    </insert>

    <!-- 根据Id修改 -->
    <update id="update" parameterType="cc.xuepeng.entity.Project">
        update
        <include refid="table_name"/>
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user = #{modifyUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime}
            </if>
        </set>
        <where>id = #{id}</where>
    </update>

    <!-- 根据Id全字段修改 -->
    <update id="updateByPrimaryKey" parameterType="cc.xuepeng.entity.Project">
        update
        <include refid="table_name"/>
        <set>
                user_id = #{userId},
                name = #{name},
                address = #{address},
                status = #{status},
                is_delete = #{isDelete},
                remark = #{remark},
                create_user = #{createUser},
                modify_user = #{modifyUser},
                create_time = #{createTime},
                modify_time = #{modifyTime}
        </set>
        <where>id = #{id}</where>
    </update>

    <!-- 根据Id非空字段修改 -->
    <update id="updateByPrimaryKeySelective" parameterType="cc.xuepeng.entity.Project">
        update
        <include refid="table_name"/>
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user = #{modifyUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime}
            </if>
        </set>
        <where>id = #{id}</where>
    </update>

    <!-- 根据条件全字段修改 -->
    <update id="updateByCondition" parameterType="map">
        update
        <include refid="table_name"/>
        <set>
                user_id = #{entity.userId},
                name = #{entity.name},
                address = #{entity.address},
                status = #{entity.status},
                is_delete = #{entity.isDelete},
                remark = #{entity.remark},
                create_user = #{entity.createUser},
                modify_user = #{entity.modifyUser},
                create_time = #{entity.createTime},
                modify_time = #{entity.modifyTime}
        </set>
        <where>
            <if test="condition != null">
                <include refid="update_condition_sql"/>
            </if>
        </where>
    </update>

    <!-- 根据条件非空字段修改 -->
    <update id="updateByConditionSelective" parameterType="map">
        update
        <include refid="table_name"/>
        <set>
            <if test="entity.userId != null and entity.userId != ''">
                user_id = #{entity.userId},
            </if>
            <if test="entity.name != null and entity.name != ''">
                name = #{entity.name},
            </if>
            <if test="entity.address != null and entity.address != ''">
                address = #{entity.address},
            </if>
            <if test="entity.status != null">
                status = #{entity.status},
            </if>
            <if test="entity.isDelete != null">
                is_delete = #{entity.isDelete},
            </if>
            <if test="entity.remark != null and entity.remark != ''">
                remark = #{entity.remark},
            </if>
            <if test="entity.createUser != null and entity.createUser != ''">
                create_user = #{entity.createUser},
            </if>
            <if test="entity.modifyUser != null and entity.modifyUser != ''">
                modify_user = #{entity.modifyUser},
            </if>
            <if test="entity.createTime != null">
                create_time = #{entity.createTime},
            </if>
            <if test="entity.modifyTime != null">
                modify_time = #{entity.modifyTime}
            </if>
        </set>
        <where>
            <if test="condition != null">
                <include refid="update_condition_sql"/>
            </if>
        </where>
    </update>

    <!-- 根据主键删除:过期 -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="table_name"/>
        <where>id = #{id}</where>
    </delete>

    <!-- 根据主键批量删除:过期 -->
    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from
        <include refid="table_name"/>
        <where>
            id
            <foreach collection="array" item="id" open="in (" close=")"
                     separator=",">
            #{id}
            </foreach>
        </where>
    </delete>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        <include refid="table_name"/>
        <where>id = #{id}</where>
    </delete>

    <!-- 根据主键批量删除 -->
    <delete id="deleteByPrimaryKeys" parameterType="java.lang.String">
        delete from
        <include refid="table_name"/>
        <where>
            id
            <foreach collection="array" item="id" open="in (" close=")"
                     separator=",">
            #{id}
            </foreach>
        </where>
    </delete>

    <!-- 根据条件删除 -->
    <delete id="deleteByCondition" parameterType="cc.xuepeng.entity.ProjectCondition">
        delete from
        <include refid="table_name"/>
        <where>
            <include refid="select_condition_sql"/>
        </where>
    </delete>

    <!-- 根据主键查找:过期 -->
    <select id="findById" resultMap="resultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>id = #{id}</where>
    </select>

    <!-- 根据多个主键查找:过期 -->
    <select id="findByIds" resultMap="resultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            id
            <foreach collection="array" item="id" open="in (" close=")"
                     separator=",">
            #{id}
            </foreach>
        </where>
    </select>

    <!-- 根据主键查找 -->
    <select id="selectByPrimaryKey" resultMap="resultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>id = #{id}</where>
    </select>

    <!-- 根据多个主键查找 -->
    <select id="selectByPrimaryKeys" resultMap="resultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            id
            <foreach collection="array" item="id" open="in (" close=")"
                     separator=",">
            #{id}
            </foreach>
        </where>
    </select>

    <!-- 根据查询条件(Map)查找 -->
    <select id="listByParam" resultMap="resultMap" parameterType="java.util.Map">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <!-- 根据分页参数和查询条件(Map)查找 -->
    <select id="listByPageAndParam" resultMap="resultMap" parameterType="java.util.Map">
        select
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
            order by ${sortColumn}
        </if>
    </select>

    <!-- 根据查询条件查找 -->
    <select id="selectByCondition" resultMap="resultMap" parameterType="cc.xuepeng.entity.ProjectCondition">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="column_list"/>
        from
        <include refid="table_name"/>
        <where>
            <include refid="select_condition_sql"/>
        </where>
        <if test="orderBy != null and orderBy != ''" >
            order by ${orderBy}
        </if>
    </select>

    <!-- 根据查询条件(Map)查询数量 -->
    <select id="countByParam" resultType="java.lang.Long" parameterType="java.util.Map">
        select count(0) from
        <include refid="table_name"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <!-- 根据查询条件查询数量 -->
    <select id="countByCondition" resultType="java.lang.Long"
            parameterType="cc.xuepeng.entity.ProjectCondition">
        select count(0) from
        <include refid="table_name"/>
        <where>
            <include refid="select_condition_sql"/>
        </where>
    </select>

</mapper>