<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.xuepeng.dao.impl.SupplierExtDaoImpl">
    <!-- 表名 -->
    <sql id="table_name"> supplier </sql>
    <!-- 列名 -->
    <sql id="column_list">
            id, 
            name, 
            bank_name, 
            bank_account, 
            contact, 
            contact_phone, 
            address, 
            is_delete, 
            remark, 
            create_user, 
            modify_user, 
            create_time, 
            modify_time
    </sql>

    <!-- ORM映射关系 -->
    <resultMap id="resultMap" type="cc.xuepeng.entity.Supplier">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="contact" property="contact"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="address" property="address"/>
        <result column="is_delete" property="isDelete"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="findAllToMap" resultMap="resultMap">
        select id, name from
        <include refid="table_name"/>
    </select>

</mapper>